@font-face {
    font-family: 'Yaldevi';
    src: url(./assets/fonts/Yaldevi-ExtraLight.woff2),
    url(./assets/fonts/Yaldevi-ExtraLight.woff);
}

* {
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    background: url(./assets/images/zvezdnoe-nebo.jpeg) no-repeat;
    background-size: cover;
    font-family: 'Yaldevi';
    align-items: center;
    text-align: center;
    color: white;

}

.slider-container {
    max-width: 70em;
    margin: 0 auto;
    width: 100%;
}

h3 {
    margin: 8% auto;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 0.15em;
}

.slider {
    width: 80%;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}

.slider > input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.slider::-webkit-scrollbar {
    width: 0;
}

.slider-wrapper {
    max-height: 70vh;
    height: 70%;
    display: flex;
    transition: all 1s ease-in-out;
    width: 100%;
}

.slide {
    height: 100%;
    margin: 0;
    flex: 0 0 100%;
}

.slide > img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.slide span {
    display: block;
    float: left;
    margin-left: 0;
    margin-bottom: 0.5em;
    height: 1.2em;
    font-size: 1.2em;
    transform: translateY(0em);
    transition: all 1s ease-in-out;
    line-height: 1em;
    max-width: 60%;
}

#slide1:checked ~ .slider-wrapper {
    transform: translateX(0);
}

#slide2:checked ~ .slider-wrapper {
    transform: translateX(-100%);
}

#slide3:checked ~ .slider-wrapper {
    transform: translateX(-200%);
}

#slide4:checked ~ .slider-wrapper {
    transform: translateX(-300%);
}

#slide5:checked ~ .slider-wrapper {
    transform: translateX(-400%);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 2em);
    column-gap: 0.5em;
    margin-left: auto;
    margin-right: 0;
    height: 2em;
    transform: translateY(-2.2em);
}

.button {
    cursor: pointer;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    border: 0.15em solid white ;
}

.button:hover {
    transition: all 0.5s ease-in-out;
    border: 0.15em solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

footer {
    margin-bottom: 0.4em;
}

a {
    text-decoration: none;
    color: rgb(200, 194, 255);
}

@media screen and (max-width: 1919px) {
    h3 {
        margin: 1% auto;
        font-size: 1.2em;
    }

    .slider {
        width: 70%;
    }

    .slide span {
        font-size: 1em;
        float: none;
        margin: 0 auto;
        height: 2em;
    }

    .buttons {
        margin-right: auto;
        grid-template-columns: repeat(5, 1.5em);
        height: 1.1em;
    }

    .button {
        height: 0.7em;
        width: 0.7em;
    }

    footer {
        margin: 0 auto;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 767px) {
    h3 {
        margin: 1% auto;
        font-size: 1em;
    }

    .slide span {
        font-size: 0.5em;
    }

    .buttons {
        grid-template-columns: repeat(5, 1em);
    }

    .button {
        height: 0.5em;
        width: 0.5em;
    }

    footer {
        visibility: hidden;
        height: 0;
    }
}