@font-face {
    font-family: 'Yaldevi';
    src: url(./assets/fonts/Yaldevi-ExtraLight.woff2),
    url(./assets/fonts/Yaldevi-ExtraLight.woff);
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
      opacity: 0;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }

* {
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    background: url(./assets/images/zvezdnoe-nebo.jpeg) no-repeat;
    background-size: cover;
    font-family: 'Yaldevi';
    align-items: center;
    text-align: center;
    height: 98vh;
    color: white;

}

.slider-container {
    max-width: 75em;
    margin: 0 auto;
    width: 100%;
}

h3 {
    margin: 8% auto;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 0.15em;
}

.slider {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden;
}

.slider > input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.slider-wrapper {
    display: flex;
    transition: all 1s ease-in-out;
    width: 100%;
}

.slide {
    height: 100%;
    margin: 0;
    flex: 0 0 100%;
}

img {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 0.3em;
}

.text-controls {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 0;
}

.text {
    align-items: flex-start;
    margin-left: 0;
}
.text p {
    margin-left: 0;
    font-size: 1.2em;
    animation-duration: 1s;
    animation-name: slidein;
    display: none;
}

#slide1:checked ~ .text-controls > .buttons > #btn1:hover > .radio-button,
#slide2:checked ~ .text-controls > .buttons > #btn2:hover > .radio-button,
#slide3:checked ~ .text-controls > .buttons > #btn3:hover > .radio-button,
#slide4:checked ~ .text-controls > .buttons > #btn4:hover > .radio-button,
#slide5:checked ~ .text-controls > .buttons > #btn5:hover > .radio-button {
  border: solid rgb(111, 0, 176);
}

#slide1:checked ~ .text-controls > .buttons > #btn1 > .radio-button,
#slide2:checked ~ .text-controls > .buttons > #btn2 > .radio-button,
#slide3:checked ~ .text-controls > .buttons > #btn3 > .radio-button,
#slide4:checked ~ .text-controls > .buttons > #btn4 > .radio-button,
#slide5:checked ~ .text-controls > .buttons > #btn5 > .radio-button {
  border: 0.2em solid rgb(111, 0, 176);
  background-color: white;
}

#slide1:checked ~ .slider-wrapper {
    transform: translateY(0);
}

#slide2:checked ~ .slider-wrapper {
    transform: translateX(-100%);
}

#slide3:checked ~ .slider-wrapper {
    transform: translateX(-200%);
}

#slide4:checked ~ .slider-wrapper {
    transform: translateX(-300%);
}

#slide5:checked ~ .slider-wrapper {
    transform: translateX(-400%);
}

#slide1:checked ~ .text-controls > .text > :nth-child(1),
#slide2:checked ~ .text-controls > .text > :nth-child(2),
#slide3:checked ~ .text-controls > .text > :nth-child(3),
#slide4:checked ~ .text-controls > .text > :nth-child(4),
#slide5:checked ~ .text-controls > .text > :nth-child(5) {
    display: block;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 3em);
    column-gap: 0.5em;
    margin-left: auto;
    margin-right: 0;
    height: 3em;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.button > span {
    border-radius: 50%;
    margin: 0.35em;
    width: 0.7em;
    height: 0.7em;
    border: 0.05em solid white ;
}

.button:hover .radio-button {
    transition: all 0.5s ease-in-out;
    border: 0.15em solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(200, 194, 255);
}

@media screen and (max-width: 1919px) {
    h3 {
        margin: 1% auto;
        font-size: 1.2em;
    }

    .slide {
        max-height: 85vh;
        height: 100%;
    }

    .text-controls {
        margin-top: 0.5em;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .text {
        margin: auto;
    }

    .text p {
        margin: 0.3em auto;
        font-size: 1em;
        margin-top: 1em;
    }

    .buttons {
        margin: auto;
        grid-template-columns: repeat(5, 2em);
        height: 2em;
    }

    footer {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 767px) {
    h3 {
        margin: 1% auto;
        font-size: 1em;
    }

    .text p {
        font-size: 0.7em;
    }

    .buttons {
        grid-template-columns: repeat(5, 1.5em);
        height: 1.5em;
    }

    footer {
        visibility: hidden;
        height: 0;
    }
}